# ==========================================================
# Python
# ==========================================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# Virtual Environment
# ==========================================================
venv/
.venv/
.env

# ==========================================================
# Logs
# ==========================================================
logs/*
!logs/.gitkeep

# ==========================================================
# Captured Images
# ==========================================================
images/*
!images/.gitkeep

# ==========================================================
# SQLite Database
# ==========================================================
data/*.db
data/*.sqlite
data/*.sqlite3

# ==========================================================
# VS Code
# ==========================================================
.vscode/

# ==========================================================
# Operating System
# ==========================================================
.DS_Store
Thumbs.db

# ==========================================================
# Arduino Build Files
# ==========================================================
*.elf
*.bin
*.map

# ==========================================================
# Temporary Files
# ==========================================================
*.tmp
*.bak
